<html>
  <head>
    <link rel="stylesheet" href="index.css"> 
  </head>
    <footer>
    <nav>
      <a href = "" id = "tcsButton">Terms and Conditions</a>
      <a href = "" id = "loginButton">Accessibility</a>
    </nav>
    </footer>
</html>